<%- include('./include/header.html')%>

  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block">Food Item</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a>
                </li>
                <!-- <li class="breadcrumb-item"><a href="#">Form Layouts</a>
                </li>
                <li class="breadcrumb-item active">Horizontal Forms
                </li> -->
              </ol>
            </div>
          </div>
        </div>
        <div class="content-header-right col-md-4 col-12">
          <div class="btn-group float-md-right">
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-settings mr-1"></i>Action</button>
            <div class="dropdown-menu arrow"><a class="dropdown-item" href="#"><i class="fa fa-calendar mr-1"></i> Calender</a><a class="dropdown-item" href="#"><i class="fa fa-cart-plus mr-1"></i> Cart</a><a class="dropdown-item" href="#"><i class="fa fa-life-ring mr-1"></i> Support</a>
              <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-cog mr-1"></i> Settings</a>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                  <!-- <h4 class="card-title" id="horz-layout-basic">Project Info</h4> -->
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                          <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                          <li><a data-action="close"><i class="ft-x"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="card-content collpase show">
                  <div class="card-body">
                    <%if(operation=="insert"){%>
                      <form class="form form-horizontal" action="/admin/addfooditemEJS" method="post"  enctype="multipart/form-data">
                        <input type="hidden" value="<%=foodstoreData%>" name="foodstoreIDFK"/>
                          <div class="form-body">
                              <h4 class="form-section"><i class="ft-user"></i> Add Food Item</h4>
                              <div class="form-group row">
                                  <label class="col-md-3 label-control">food Item Name</label>
                                  <div class="col-md-9">
                                      <input type="text" id="name" class="form-control" placeholder="Food ItemName" name="name">
                                  </div>
                              </div>                                                           
                              <div class="form-group row">
                                  <label class="col-md-3 label-control">Price</label>
                                  <div class="col-md-9">
                                      <input type="text" id="price" class="form-control" placeholder="Price" name="price">
                                  </div>
                              </div>

                              <div class="form-group row">
                                  <label class="col-md-3 label-control">Image</label>
                                  <div class="col-md-9">
                                      <input type="file" id="image"  placeholder="Image" name="image">
                                  </div>
                              </div>

                              

                              

                              

                              

                          <div class="form-group row">
                            <label class="col-md-3 label-control"></label>
                            <button type="button" class="btn btn-warning mr-1">
                              <i class="ft-x"></i> Cancel
                            </button>
                            <button type="submit" class="btn btn-primary">
                              <i class="fa fa-check-square-o"></i> Save
                            </button>
      
                          </div>
                      </form>
                      <%}else{%>

                        <form class="form form-horizontal" action="/admin/updatefooditemEJS" method="post"  enctype="multipart/form-data">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Add Food Item</h4>
                                <div class="form-group row">
                                  <input type="hidden" name="id" value="<%=fooditemData._id%>">
                                    <label class="col-md-3 label-control">food Item Name</label>
                                    <div class="col-md-9">
                                        <input type="text" id="name" class="form-control" 
                                        placeholder="Food ItemName" name="name" value="<%=fooditemData.name%>">
                                    </div>
                                </div>
                               
  
                                <div class="form-group row">
                                    <label class="col-md-3 label-control">Price</label>
                                    <div class="col-md-9">
                                        <input type="text" id="price" class="form-control" placeholder="Price" 
                                        name="price" value="<%=fooditemData.price%>">
                                    </div>
                                </div>
  
                                <div class="form-group row">
                                    <label class="col-md-3 label-control">Image</label>
                                    <div class="col-md-9">
                                        <input type="file" id="image"  placeholder="Image" name="image" value="<%=fooditemData.image%>">
                                    </div>
                                </div> 
  
                                
  
  
                             <div class="form-group row">
                              <label class="col-md-3 label-control"></label>
                              <button type="button" class="btn btn-warning mr-1">
                                <i class="ft-x"></i> Cancel
                              </button>
                              <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check-square-o"></i> Save
                              </button>
        
                            </div>
                        </form>
                      <%}%>
                  </div>
              </div>
          </div>
      </div>
  </div>
   
</section>
<!-- // Basic form layout section end -->
      </div>
    </div>
  </div>
<%- include('./include/footer.html')%>